@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Manrope:wght@400;600&family=Silkscreen&display=swap');
:root{
    /*Colors default*/
    --bg-color: #161932;
    
    --bar-color: #212442;
    --font-color:#d7e0ff;
    --input-color:#eff1fa;

    /*Themes color*/
    --current-color:#70f3f8;
    --color-one: #70f3f8;
    --color-two: #f87272;
    --color-tree:#d881f8;

    /*Fonts*/
    --current-font: 'Manrope', sans-serif;
    --font-one: 'Manrope', sans-serif;
    --font-two: 'IBM Plex Mono', monospace;
    --font-tree: 'Silkscreen', monospace;
    
}

*{
    margin: 0;
}

body{
    background-color: var(--bg-color);
}
.container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 25px;

    
}
.title{
  
    text-transform: uppercase;
    font-family: var(--current-font);
    font-weight: 1000;
    font-size: 20px;
    color: var(--font-color);
    letter-spacing: 2px;
    
}
.area-bar{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--bar-color);
    margin-bottom: 20px;
    color: var(--font-color);
    
   
    font-family: var(--current-font);
    font-weight: 800;
    font-size: 15px;
    font-style: bolder;
    text-transform: lowercase;
}
.area-bar span{

    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 75%;

   
   
    
}
.active-bar{
    color: var(--bg-color);
    background-color: var(--current-color) ;
   
}
.progress-bar{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(  var(--bg-color) 0.1deg, var(--current-color) 180deg);
    height: 355px;
    width: 355px;
    border-radius: 50%;
}
.progress-bar::before{

   
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    z-index: -1;
    box-shadow:  0px 0 10px var(--font-color);


    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms  ease-in-out;
    -o-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms  ease-in-out;
    transition: all 700ms  ease-in-out;
   
}
.progress-bar:hover::before{

   
    box-shadow: 
    2px 0 5px var(--font-color),
    0 0 10px var(--current-color),
    0 0 15px var(--current-color),
    0 0 45px var(--font-color);

    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms  ease-in-out;
    -o-transition: all 700ms  ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
   
   
   
}
.clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    background-color:var(--bg-color);
    height: 95%;
    width: 95%;
    border-radius: 50%;
    color: var(--font-color);
    
}
.timer{
    font-family: var(--current-font);
    font-size: 6rem;
    font-style: bold;
    font-weight: bolder;
}
.clock .text-time{
    letter-spacing: 2px;
    font-family: var(--current-font);
    font-size: 1.5rem;
    font-style: bold;
    font-weight: bolder;
}

.config{
   cursor: pointer;
   transition: all 1s ease-in-out;
   
}

.config:hover{
    transition: all 1s ease-in-out;
    transform: rotate(90deg);
    
 }

 .modal{
    
    /*display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: white;
    z-index: 1;
    */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    align-items: center;
    justify-content: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   

 }

 .modal.open{
    display: flex;
 }

 .modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
    height: 350px;
    border-radius: 15px;
    font-family:  var(--current-font);
    text-transform: uppercase;
    font-weight: 1000;
    color: var(--bg-color);
    

  }
.modal-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: none;
    font-weight: 800;
    font-size: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border-bottom:var(--input-color) 1px solid;
  
}
.close{
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
}

.input-area{
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:var(--input-color) 1px solid;
}
.title-inputs{
    font-size: 12px;
    font-weight: 800;
    text-transform: lowercase;
    margin-bottom: 10px;
    color: #80828b;
}
.input-area input{
    
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color:var(--input-color);
    padding-left: 10px;

    font-size: 15px;
    font-weight: 700;
  
    
}






.modal-font{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:var(--input-color) 1px solid;

}
.font-area{
    display: flex;
    margin: 15px;
    
}
.font{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:var(--input-color);
    width: 35px;
    height: 35px;
    margin: 5px;
    font-size: 16px;
    text-transform: none;
    
}
.font.one{

    font-family: var(--font-one)
}
.font.two{
    font-family: var(--font-two)
}
.font.tree{
    font-family: var(--font-tree)
}

.font.active{
    background-color: var(--bg-color);
    color: white;
}

.modal-font.colors{
    border-bottom:none;
}


.area-color{
    display: flex;
    margin: 15px;
   
}
.area-color .color{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 5px;
}
.color{
    cursor: pointer;
}
.color.one{
    background-color:var(--color-one);
}
.color.two{
    background-color:var(--color-two);
}
.color.tree{
    background-color:var(--color-tree);
}

.color.active::after {
    content: '✔';
}




  .button{
    font-family: var(--current-font);
    font-style: bolder;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #70f3f8;
    top: 35px;
  
  }

  @media  (max-width: 500px){
    
    /*modal*/
    
    .modal-content{
        width: 380px;
        height: 310px;

    }

    .button
    {   padding: 8px;
        height: 20px;
        font-size: 15px;
        top: -6px;
    }

  /*clock and bar*/
  .area-bar{
    width: 380px;
  }

  .progress-bar{
    width: 300px;
    height: 300px;
  }

  .progress-bar::before{
    width: 320px;
    height: 320px;
  }

  }